.mainContainer {
  background-color: #eeeeeebe;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 80px;
  gap: 80px;
}

.heading {
  font-size: 2.4rem;
  color: #0d0d0d;
}
